<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=60040c9df474080012973e01&product=inline-share-buttons' async='async'></script>
      
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black;color:white">
        <div class="container">
            <div class="row">
                <div class="navbar-collapse collapse d-flex align-items-center justify-content-between navbar-expand-lg navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <img class="d-inline-block" width="50" src="~/fonts/img/carousel2/138594417_509906446637540_746060302452839677_n.jpg" />
                    </a>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                        <li>@Html.ActionLink("Áo", "Ao", "Home")</li>
                        <li>@Html.ActionLink("Quần", "Quan", "Home")</li>
                        <li>@Html.ActionLink("Quản Trị", "Login", "Account")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <div class="row layout-footer" style="padding:20px">
                <div class="col-md-4" style="color:white">
                    <a href="@Url.Action("Index","Home")"><img style="max-width:50%;height:auto" class="img-fluid" src="~/fonts/img/carousel2/138594417_509906446637540_746060302452839677_n.jpg" /></a>
                </div>
                <div class="col-md-4" style="color:white">
                    <div>
                        <h3>Thông Tin</h3>
                        <p> <a style="color:white" href="@Url.Action("GioiThieu","Home")">Giới Thiệu Về Website</a></p>
                    </div>
                    <div>
                        <p>Quy Chế Hoạt Động</p>
                        <p>Điều Khoản Mua Bán</p>
                    </div>
                </div>
                <div class="col-md-4" style="color:white">
                    <div>
                        <h3>Liên hệ</h3>
                        <p> <a style="color:white" href="https://www.facebook.com/cuong.euro2910">Chat With Us</a></p>
                        <p>Email Liên Hệ : xuancuong2503@gmail.com</p>
                    </div>
                    <div>
                        <p>SĐT: 0399832012</p>

                    </div>

                </div>

            </div>

            <div class="row">
                <div class="contact_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1266777202277!2d106.7122504148852!3d10.801608592304394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2zxJDhuqFpIGjhu41jIEPDtG5nIG5naOG7hyBUUC5IQ00!5e0!3m2!1svi!2s!4v1601197139912!5m2!1svi!2s" width="600" height="450" frameborder="0"
                            allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>

        </footer>

        <div class="sharethis-inline-share-buttons"></div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
