@model  CNPM.Models.SanPham
@{
    ViewBag.Title = "Product";
}
<style>
    .error{
        color:red;
    }
</style>
@* 
Tạo modal cho list sản phẩm    
*@
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="display:flex;justify-content:center;padding-top:20px">
                <div style="padding-right:10px">
                    <button class="btn btn-success" data-target="#productModal" data-toggle="modal">Sản Phẩm</button>
                </div>
                <button class="btn btn-primary"><a style="color:white" href="@Url.Action("ProductList","Account")">Xem/Xóa/Sửa Sản Phẩm</a></button>
                <div class="modal" id="productModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Product</h4>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("AddProduct", "Account", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        @Html.HiddenFor(x=>x.MaSP)
                                        <label>
                                            Tên Sản Phẩm
                                        </label>
                                        @Html.ValidationMessageFor(i => i.TenSP,"", new { @class = "error" })
                                        @Html.TextBoxFor(i => i.TenSP, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Mô Tả
                                        </label>
                                        @Html.ValidationMessageFor(i => i.Mota,"", new { @class = "error" })
                                        @Html.TextAreaFor(i => i.Mota, new { @class = "form-control", @rows = "5" })
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Mã Danh Mục
                                        </label>
                                        @Html.ValidationMessageFor(i => i.MaDanhMuc, "", new { @class = "error" })
                                        @Html.TextBoxFor(i => i.MaDanhMuc, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Hình Ảnh
                                        </label>
                                        @Html.ValidationMessageFor(i => i.HinhAnh, "", new { @class = "error" })
                                        @Html.TextBoxFor(i => i.HinhAnh, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">
                                            Submit
                                        </button>
                                        
                                    </div>
                                }
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*@using (Html.BeginForm("AddProduct", "Account", FormMethod.Post))
    {
        <div class="container">
            <div class="form-group">
                <label>
                    Tên Sản Phẩm
                </label>
                @Html.TextBoxFor(i => i.TenSP, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>
                    Mô Tả
                </label>
                @Html.TextAreaFor(i => i.Mota, new { @class = "form-control", @rows = "5" })
            </div>
            <div class="form-group">
                <label>
                    Mã Danh Mục
                </label>
                @Html.TextBoxFor(i => i.MaDanhMuc, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>
                    Hình Ảnh
                </label>
                @Html.TextBoxFor(i => i.HinhAnh, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
                <button type="submit" class="btn btn-danger">
                    Cancel
                </button>
            </div>
        </div>
    }*@


